body {
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  color: #6b6b6b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
}

header {
  background-color: aqua;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  padding: 10px 20px;
  line-height: 1.63em;
  color: #ffffff;
  border-radius: 3px;
  background-color: #fc0a7e;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 20px 40px;
  }
}

.button:hover, .button:focus {
  text-decoration: underline;
}

.button--transparent {
  border: 1px solid #b04bb3;
  background-color: transparent;
}

.header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 30px;
  background-color: transparent;
}

.header__container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin: 0 auto;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.navigation__item {
  margin-right: 30px;
  line-height: 1.3em;
  font-size: 12px;
}

.navigation__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .navigation__item:first-child {
    font-size: 15px;
  }
  .navigation__item:last-child {
    font-size: 15px;
  }
}

.navigation__item a:hover,
.navigation__item a:focus {
  text-decoration: underline;
}

.hero {
  padding-top: 180px;
  padding-bottom: 30px;
  background-color: #cf0063;
  background-image: linear-gradient(288deg, #450e4b 0%, #3c0c41 25%, rgba(207, 0, 99, 0) 100%);
}

@media screen and (max-width: 767px) {
  .hero {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 125px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  color: #ffffff;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 80px;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 1.46em;
  color: #ffffff;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 30px;
  }
}

.hero__icon {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .hero__icon {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 10%;
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .hero__img {
    display: none;
  }
}

.subtitle {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.66em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #a8a8a8;
}

.title {
  font-weight: 400;
  line-height: 1.26em;
  font-size: 28px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 38px;
  }
}

.title--light {
  color: #ffffff;
}

.overview {
  padding-top: 100px;
  text-align: center;
  background-color: #1b1b1b;
}

.overview__text {
  margin-bottom: 55px;
}

.overview__img {
  margin-left: auto;
  margin-right: auto;
}

.features {
  padding-top: 80px;
}

.features__item {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .features__item {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-bottom: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .features__description {
    width: 27%;
  }
}

.features__title {
  margin-bottom: 22px;
}

.advantages {
  padding-top: 160px;
}

.advantages__list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages__list--first {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .advantages__list--first {
    margin-bottom: 160px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__list--first li {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__list--first li:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list--second {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.advantages__icon {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .advantages__icon {
    margin-bottom: 40px;
  }
}

.advantages__title,
.advantages__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33em;
  color: #000000;
}

.advantages__title {
  margin-bottom: 17px;
}

.advantages__number {
  font-size: 59px;
  line-height: 1.53em;
  color: #333333;
}

.advantages__description {
  margin-bottom: 10px;
}

.articles {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .articles {
    padding-top: 160px;
  }
}

.articles__item {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .articles__item {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .articles__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 160px;
  }
}

.articles__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .articles__item:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .articles__wrapper {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .articles__item:nth-child(2n + 1) .articles__wrapper {
    margin-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .articles__item:nth-child(2n) .articles__wrapper {
    margin-left: 60px;
  }
}

.articles__title {
  margin-bottom: 20px;
}

.feedback {
  padding-top: 160px;
}

@media screen and (max-width: 767px) {
  .feedback {
    padding-bottom: 80px;
  }
}

.swiper {
  width: 100%;
  height: auto;
  cursor: -webkit-grab;
  cursor: grab;
}

.feedback__container {
  text-align: center;
}

.feedback__icon {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .feedback__icon {
    margin-bottom: 60px;
  }
}

.feedback__text {
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 1.66em;
}

@media screen and (min-width: 768px) {
  .feedback__text {
    font-size: 24px;
  }
}

.feedback__name {
  position: relative;
  margin-right: 70px;
}

.feedback__name,
.feedback__company {
  line-height: 1.88em;
}

@media screen and (max-width: 767px) {
  .feedback__name,
  .feedback__company {
    font-size: 12px;
  }
}

.feedback__company {
  font-weight: 700;
}

.feedback__name::after {
  position: absolute;
  right: -55px;
  top: 50%;
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #d3d3d3;
  border-radius: 0px;
}

@media screen and (max-width: 767px) {
  .companies {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .companies {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .companies__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.images {
  display: none;
}

@media screen and (min-width: 1200px) {
  .images {
    display: block;
    height: 518px;
    background-color: #fc0a7e;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .images {
    background-image: url("../images/bg@2x.png");
  }
}

.download {
  padding-top: 165px;
  padding-bottom: 155px;
  background-color: #fc0a7e;
  background-image: linear-gradient(276.18deg, #6e28b1 0%, rgba(0, 0, 0, 0) 100%), url(../images/bg-2.svg);
}

.download__container {
  text-align: center;
}

.download__title {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .download__button {
    margin-right: 10px;
  }
}

.subscribe {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1b1b1b;
}

@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 130px;
    padding-bottom: 150px;
  }
}

.subscribe__container {
  text-align: center;
}

.subscribe__title {
  margin-bottom: 20px;
}

.subscribe__text {
  margin-bottom: 40px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__input {
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 15px;
  width: 311px;
  border: none;
  border-radius: 3px 0px 0px 3px;
  -webkit-box-shadow: 0px 0px 0px #fc0a7e;
          box-shadow: 0px 0px 0px #fc0a7e;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.63em;
  color: #1c1c1c;
}

.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.63em;
  color: #1c1c1c;
}

.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.63em;
  color: #1c1c1c;
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.63em;
  color: #1c1c1c;
}

.subscribe__button {
  display: block;
}

.footer {
  background-color: #1b1b1b;
}

.footer__container {
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  margin-right: 10px;
  font-size: 8px;
  line-height: 1.82em;
}

.footer__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .footer__item {
    font-size: 11px;
    margin-right: 30px;
  }
}

.footer__item a:hover,
.footer__item a:focus {
  text-decoration: underline;
}

.footer__developing {
  margin-top: 60px;
  padding: 15px 0;
  background-color: #f7f7f73f;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__developing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__copy {
  color: #fff;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer__copy {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.footer__text {
  color: #fff;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 16px;
  }
}

.footer__text a {
  font-weight: 700;
  color: inherit;
}
/*# sourceMappingURL=main.css.map */